.col-12.d-grid.justify-content-center.mt-4.mb-4
  %h3 Esqueceu sua senha?

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .form-group
    .floating-label
      = f.label :email
      = f.email_field :email, class: "form-control", placeholder: "E-mail", autocomplete: "email"

  .col-12.d-grid.justify-content-center.mt-4.mb-4
    = f.submit "Envie-me instruções de redefinição de senha", class: "btn btn-primary"

= render "devise/shared/links"
